
*{
    margin:0px ;
    padding:0px ;
    box-sizing: border-box;
}

body{
    background: rgba(76, 76, 77, 0.281);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers {
    background-color: #f0f0f0d3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px;
    padding: 7px;
    display: grid;
    grid-template-columns: 42% 56%;
    grid-template-areas: 
    "a c"
    "b c";
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    width: 90%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 2% ;
    
}

.section1{
    grid-area: a;
    border: 1px;
    /* padding: 0px 0px 0px 0px; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-direction: column;
    position: relative;
}

.identification{
    height: 380px;
    padding: 15px;
    margin-top: 0px;
    border: 5px;
    background-image: url(img/image3.jpg);
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.degrade{
    position: absolute;
    background-color: #015F9F;
    opacity: .4;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.searchBar{
    background-color: white;
    width: 93%;
    height: 14%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
    z-index: 3;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;


    
}

.input-searchBar{
    border-style: none;
    background-color: white;
    font-size: 13px;
    width: 60%;
    flex-wrap: wrap;
    /* margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; */
}

.icon{
    width: 25px;
    height: 25px;
}



.description-prileminaire{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    position: absolute;
    bottom: 20px;
    right: 10%;
    left: 7%;
    z-index: 3;
}

.imageProfil{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: relative;
}



.poste{
    color: white;
    margin-top: 22px;
    margin-left: 15px;
}

.metier{
   color: rgba(255, 255, 255, 0.753)
}

.coordonnees{
    background: #015F9F;
    padding: 20px;
    position: relative;
    
}

.btn-envoyer{
    position: absolute;
    align-items: flex-end;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50px;
    background: rgb(204, 48, 79);
    z-index: 3;
    top: -25px;
    right: 30px;
}

.group-button{
    display: none;
    margin-right: 50px;
    position: relative;
    width: 20px;
    height: 20px;
    
}

#btn-email{
    margin-top: -70px;
    background-color: palevioletred;
}


#btn-send{
    
    background-color: lightgreen;
    
}

.bloc{
    display: flex;
    flex-direction: row;
    width:100%;
    color: rgba(255, 255, 255, 0.884);
    font-size: 17px;
    justify-content: space-between;
}

.competence-technique i{
    color: red;
    padding: 20px;
    margin-top: -10px;
    
}

.infos{
    width: 100%;
    margin-left: 15px;
    flex-direction: column;
}

.icon-infos{
    width: 30px;
    height: 30px;
} 

.trait {
    color: rgba(253, 251, 251, 0.534); 
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.projet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
    color: rgba(255, 255, 255, 0.808);
    text-transform: uppercase;
}

.trait-rouge{
    background-color: red;
    width: 150px;
    height: 2px;
}

.section2{
    grid-area: b;
    background: white;
    padding: 10px ;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 50;
}

.competence-technique{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}


#check-input{
    width: 20px;
    height: 20px;
    background-color: #015F9F;  
}

.competence{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 15px;
}



.specification{
    font-size: 15px;
    margin-top: 5px;
}

.icon-etoile{
    width: 15px;
    height: 20px;
}

.progressbar{
    width: 110%;
    height: 3px;
    background-color:rgba(128, 128, 128, 0.63);
    display: flex;
    position: relative;
    margin-top: 15px;
}

.progressbar-blue{
    background-color: #015F9F;
    width: 80%;
}

.corner{
    width: 20px;
    height: 20px;
    background-color: #015F9F;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: 20%;
}

#progressbar-blue1{
    width: 90%;
}

#corner1{
    right:10%;
}

#progressbar-blue2{
    width: 80%;
}

#corner2{
    right:20%;
}

#progressbar-blue3{
    width: 70%;
}

#corner3{
    right:30%;
}

#progressbar-blue4{
    width: 60%;
}

#corner4{
    right:40%;
}

#progressbar-blue5{
    width: 98%;
}

#corner5{
    right:2%;
}

#progressbar-blue6{
    width: 93%;
}

#corner6{
    right:7%;
}

.section3{
    grid-area: c;
    display: flex; 
    flex-direction: column;
}

.experience-professionnelle{
    width: 100%;

    /* display: flex; */
    /* align-items: center; */
    border-radius: 5px;
    /* height: 5%; */
    /* flex-direction: column; */
    margin-bottom: 25px;
    

}

.titre-experienceProfessionnelle{
    background-color: #015F9F;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.element-titre{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.titre-texte{
    display: flex;
    flex-direction: column;
    width: 90%;
    color: rgba(255, 255, 255, 0.884);
}

#image-batiment{
    margin-top:4px;
}

i{
    font-size: 13px;
}

.responsabilite{
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.scrollbar {
    overflow-y: scroll;
    height: 520px;
    border: 1px; 
    padding-right: 20px;
    
}



.scrollbar::-webkit-scrollbar{
    width: 6px;

}
 
.scrollbar::-webkit-scrollbar-track{
    background-color: rgba(65, 64, 64, 0.226);
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 15px;
    
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(65, 64, 64);
    border-radius: 15px;
    width: 1px;
}



.infos-responsabilite{
    margin-top: 3px;
}

.respo{
    margin-bottom: 8px;
}

#trait-fin{
    color: rgba(253, 251, 251, 0.418); 
    margin-top: 10px;
    margin-bottom: 10px;
}

.respo{
    font-size: 20px;
}

.date{
    color: #015F9F;
}

.role{
    color: rgba(0, 0, 0, 0.781);
}

.deux-block{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 25px;
   /* align-items: center; */
}

.point-interet{
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2); 
  background: white;
  padding: 20px;
  width: 55%;
  border-radius: 5px;
}



.texte{
    font-style: italic;
    font-size: 15px;
    color: #202020; 
  
}

.distraction{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.distraction-image{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-interet{
    width: 50px;
    height: 30px;
}

.langues-expression{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: white;
    padding: 20px;
    width: 40%;
    height: inherit;
  }


.check-langue{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.intitule{
    margin-left: 5px;
}

#cursus-academique{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* overflow: auto; */
}

@media screen and (max-width: 600px){
    .container{
        display: flex;
        width: 95%;
        flex-direction: column;
    }
    
    .section1{
        order: 1;
    }

    .section2{
        order: 3;

    }

    .section3{
        order: 2;
        margin-bottom: 20px;
    }

    .deux-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .searchBar{
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        flex-wrap: wrap;
    }

    .point-interet{
        width: 100%;
    }
    
    .langues-expression{
        width: 100%;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 720px){
    .container{
        width: 100%;
    }
    
    .section1{
        order: 1;
        margin-bottom: 20px;
    }

    .section2{
        order: 3;

    }

    .section3{
        order: 2;
        margin-bottom: 20px;
    }

    .searchBar{
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        flex-wrap: wrap;
    }

    .deux-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .point-interet{
        width: 100%;
    }
    
    .langues-expression{
        width: 100%;
    }
}

@media screen and (max-width: 736px){
    .container{
        width: 100%;
    }

    .responsabilite{
        height: 725px;
    }
    
    .scrollbar{
        height: 715px;
    }

    .searchBar{
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        flex-wrap: wrap;
    }
}



@media screen and (max-width: 2310px){

    .container{
        width: 100%;
    }

    .responsabilite{
        height: 725px;
    }
    
    .scrollbar{
        height: 715px;
    }

  .searchBar{
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        flex-wrap: wrap;
    }
}
